.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    background: rgba(0,0,0,0.6);
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(50, 72, 124);
    width: 40%;
    height: 45%;
    border-radius: 8px;
    padding: 1rem 0;
}

.signup-container button {
    margin-top: 2rem;
}

.signup-container input {
    outline: none;
    transition: all 0.4s;
    width: 100%;
}

.signup-container p {
    font-size: .9rem;
    color: rgb(199, 199, 199);
}

@media only screen and (max-width:600px) {
    
    .signup-container {
        margin-top: -9rem;
        width: 80%;
        height: 40vh;
        padding: .8rem .5rem;
    }

    .signup-container h1 {
        font-size: 1.5rem;
    }

    .signup-container form input {
        font-size: .95rem;
        width: 85%;
    }
    
    .close-btn {
        display: none;
    }
    
}