p, h2 {
    color: white;
 }

 h2 {
    margin-bottom: .5rem;
    color: rgb(187, 186, 186);
 }

 .contact {
    margin-bottom: .5rem;
 }

 .contact a {
    color: rgb(140, 82, 255);
    font-size: 1.6rem;
    transition: all 0.4s;
    margin-left: .2rem;
 }

 .contact a:hover {
    opacity: 0.8;
 }

 .stats, .tools {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: rgba(117, 117, 117, 0.1);
    width: 40%;
    border-radius: 12px;
    margin: 0 auto;
 }

 .tools {
    margin-top: 1rem;
 }

 .multiplier-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: .5rem;
    background: rgb(140, 82, 255, 0.4);
    border-radius: 5px;
    width: 45%;
}

.multiplier-wrapper p {
    margin-left: .2rem;
}

.multiplier-wrapper select {
    border: 1px solid white;
    padding: .2rem;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: rgb(90, 57, 154);
}

.buttons-container {
      display: flex;
      justify-content: center;
      gap: .5rem;
      width: 70%;
      margin: 2rem auto;
}

.back-btn {
   background-color: rgb(140, 82, 255, 0.5);
   color: white;
   border: none;
   padding: .5rem 1rem;
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.2s;
}

.delete-btn {
   background: none;
   color: white;
   opacity: 0.8;
   border: none;
   font-size: 1.7rem;
   display: flex;
   align-items: center;
   transition: all 0.2s;
}

.delete-btn:hover {
   opacity: 1;
   color: rgb(236, 110, 110);
   transform: scale(1.1);
}

.back-btn:hover {
   background-color: rgba(104, 60, 192, 0.5);
}

@media only screen and (max-width:600px) {
   h2 {
      margin-bottom: .5rem;
      font-size: 1.4rem;
   }
  
   .contact {
      margin-bottom: .25rem;
   }
  
   .contact a {
      color: rgb(140, 82, 255);
      font-size: 1.6rem;
      transition: all 0.4s;
      margin-left: .2rem;
   }
  
   .stats, .tools {
      padding: 1rem;
      width: 85%;
   }
  
   .tools {
      margin-top: .5rem;
   }
  
   .multiplier-wrapper {
      margin-bottom: .5rem;
      padding: .5rem;
      width: 80%;
      justify-content: space-between;
  }
  
  .multiplier-wrapper p {
      margin-left: .2rem;
      font-size: .8rem;
  }
  
  .buttons-container {
        margin: 1rem auto;
  }
  
}


