.page-wrapper {
    display: flex;
    width: 100vw;
    height: 100%;
}

.astronaut-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
}

.astronaut {
    height: 450px;
    animation: glow 2.5s infinite;
}

@keyframes glow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.text-wrapper h2 {
    margin-top: 1rem;
    font-size: 2.2rem;
    color: white;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.text-wrapper h3 {
    font-size: 1.5rem;
    color: rgb(187, 186, 186);
    padding: 0 1rem;
    font-weight: 400;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: #313131;
}

.login-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -1rem;
}

.login-container input, .signup-container input {
    width: 40%;
    height: 2.5rem;
    margin: 1rem 0;
    border: none;
    border-radius: 5px;
    padding: 0 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    background: #fff;
    margin-bottom: -.8rem;
    outline: none;
}

.login-container input::placeholder, .signup-container input::placeholder {
    color: rgb(187, 186, 186);
    font-weight: 400;
}

.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 2.5rem;
    margin: 1rem 0;
    gap: .5rem;
    border: none;
    border-radius: 5px;
    padding: 0 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    background: #7a9aef;
    margin-top: 1.5rem;
    transition: all 0.4s;
    cursor: pointer;
}

.login-btn:hover {
    background: #6c88d5;
}

.login-container form h5  {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1rem;
    margin-top: -.5rem;
    font-weight: 400;
    width: 50%;
    text-decoration: underline;
    opacity: 0.7;
    cursor: pointer;
}

.login-container form h5:hover {
    opacity: 1;
}

.divider {
    width: 40%;
    height: 1px;
    background: #fff;
    margin: 1rem 0;
}

.google-login, .signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 2.5rem;
    margin: 1rem 0;
    border: none;
    gap: .5rem;
    border-radius: 12px;
    padding: 0 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #3c3a3c;
    background: #fff;
    margin-top: 1.5rem;
    transition: all 0.4s;
    cursor: pointer;
}

.google-login:hover {
    background: #9db5f8;
    color: white;
}

.signup-btn {
    margin-top: 1rem;
    background-color: rgb(233, 153, 6);
    color: white;
}

.signup-btn:hover {
    background-color: rgb(192, 126, 4);
}


@media only screen and (max-width:600px) {

    .astronaut-container, .astronaut, .text-wrapper, .text-wrapper h2, .text-wrapper h3 {
        display: none;
    }

    .page-wrapper {
        background-color: #313131;
        height: 100vh;
    }
    
    .login-container {
        width: 100%;
        height: 70vh;
    }
    
    .login-container form {
        margin-top: -2rem;
    }
    
    .login-container input, .signup-container input {
        width: 60%;
    }
    
    .login-btn {
        width: 60%;
    }
    
    .divider {
        width: 60%;
        margin: .5rem 0;
    }
    
    .google-login, .signup-btn {
        width: 50%;
        font-size: 1rem;
    }
    
    .google-login:hover {
        background: #9db5f8;
        color: white;
    }

}