.card-container {
    margin-bottom: 2.5rem;
}

.search-bar {
    width: 40%;
    background-color: rgba(117, 117, 117, 0.2);
    border-radius: 8px;
    padding: .8rem;
    font-size: 1rem;
    outline: none;
    margin: 0 auto 2rem auto;
}

.search-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(140, 82, 255);
}

.search-wrapper input {
    flex: 1;
    padding: .5rem;
    border-radius: 6px;
    outline: none;
    border: transparent;
    margin-left: .5rem;
    background-color: white;
    color: rgb(140, 82, 255);
}

.search-wrapper input::placeholder {
    color: rgb(140, 82, 255);
}

.message {
    display: flex;
    margin: 0 auto;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: rgb(140, 82, 255);
}

.card {
    background-color: rgb(140, 82, 255, 0.5);
    width: 45%;
    margin: .5rem auto;
    padding: .8rem .6rem;
    border-radius: 6px 0 0 6px;
    transition: all 0.4s;
    border-left: 12px solid rgb(255, 255, 255, 0.5);
}

.card h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0;
    color: white;
    display: flex;
    gap: .5rem;
    align-items: center;
}

.card a {
    font-style: italic;
    text-decoration: none;
    color: rgb(196, 196, 196);
    font-size: .9rem;
    transition: all 0.4s;
    cursor: pointer;
}

.card a:hover {
    opacity: 0.8;
}

.index-buttons {
    display: flex;
    justify-content: center;
    gap: .5rem;
    width: 70%;
    margin: 2rem auto;
}

.index-buttons button {
    background-color: rgb(140, 82, 255, 0.5);
    color: white;
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.index-buttons button:hover {
    background-color: rgba(104, 60, 192, 0.5);
}

.index-buttons button:disabled {
    background-color: rgba(224, 223, 226, 0.5);
    color: rgb(255, 255, 255, 0.5);
    border: none;
    cursor: not-allowed;
}

@media only screen and (max-width:600px) {
    .card-container {
        margin-bottom: 1.5rem;
    }
    
    .search-bar {
        width: 80%;
    }
    
    .message {
        height: 200px;
        width: 330px;
    }
    
    .card {
        width: 80%;
        margin: .4rem auto;
        padding: .6rem .5rem;
    }
    
    .card h2 {
        font-size: 1.2rem;
    }
    
    .card a {
        font-size: .8rem;
    }
    
    .index-buttons {
        margin: 1.5rem auto;
    }
}